.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.20rem;
  line-height: 1.5;
}



.layout {
  margin: 1rem 0;
  display: grid;
  grid-template-areas: 
    "space-left title links space-right";
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  grid-area: title;
  align-self: center;
  word-break: break-word;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;

  grid-area: links;
}